header.header
    .header__container
        .header__wrapper
            // Header Logo
            .header__top-logo
                a(href="#").logo
                    img(src="./img/header/logo.svg" alt="Logotype")
            // Header Navigation
            nav.header__top-nav
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="#") Главная
                    li.nav__item
                        a.nav__link(href="#") О компании
                    li.nav__item
                        a.nav__link(href="#") Проекты
                    li.nav__item
                        a.nav__link(href="#") Новости
                    li.nav__item
                        a.nav__link(href="#") Отзывы и сертификаты
                    li.nav__item
                        a.nav__link(href="#") Контакты
            // Header Contacts
            .header__top-contacts
                a(href="#" data-contacts-map) Москва
                a(href="#" data-contacts-number) +7 (900) 111-22-33 