nav.menu
    .menu__columns
        nav.menu__nav
            ul.nav__list
                span.nav__title Компрессоры
                li.nav__item
                    a.nav__link(href="#") Винтовые компрессоры
                li.nav__item
                    a.nav__link(href="#") Передвижные компрессоры
                li.nav__item
                    a.nav__link(href="#") Поршневые компрессоры
                li.nav__item
                    a.nav__link(href="#") Спиральные компрессоры
                li.nav__item
                    a.nav__link(href="#") Дожимные компрессоры
                li.nav__item
                    a.nav__link(href="#") Модульные станции
                li.nav__item
                    a.nav__link(href="#") Компрессоры Б/У
            ul.nav__list
                span.nav__title Подготовка и хранение сжатого воздуха
                li.nav__item
                    a.nav__link(href="#") Осушители воздуха
                li.nav__item
                    a.nav__link(href="#") Ресиверы
                li.nav__item
                    a.nav__link(href="#") Магистральные фильтры
                li.nav__item
                    a.nav__link(href="#") Концевые охладители
                li.nav__item
                    a.nav__link(href="#") Сепораторы
            ul.nav__list
                span.nav__title Компрессоры
                li.nav__item
                    a.nav__link(href="#") Винтовые компрессоры
                li.nav__item
                    a.nav__link(href="#") Передвижные компрессоры
                li.nav__item
                    a.nav__link(href="#") Поршневые компрессоры
                li.nav__item
                    a.nav__link(href="#") Спиральные компрессоры
                li.nav__item
                    a.nav__link(href="#") Дожимные компрессоры
                li.nav__item
                    a.nav__link(href="#") Модульные станции
                li.nav__item
                    a.nav__link(href="#") Компрессоры Б/У
            ul.nav__list
                span.nav__title Подготовка и хранение сжатого воздуха
                li.nav__item
                    a.nav__link(href="#") Осушители воздуха
                li.nav__item
                    a.nav__link(href="#") Ресиверы
                li.nav__item
                    a.nav__link(href="#") Магистральные фильтры
                li.nav__item
                    a.nav__link(href="#") Концевые охладители
                li.nav__item
                    a.nav__link(href="#") Сепораторы
        .menu__another(data-menu-sertificates)
            a(href="#").menu__title Сертификаты
            .menu__slider.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="./img/home/01.jpg")
                    .swiper-slide
                        img(src="./img/home/02.jpg")
                    .swiper-slide
                        img(src="./img/home/01.jpg")
                    .swiper-slide
                        img(src="./img/home/02.jpg")
                    .swiper-slide
                        img(src="./img/home/01.jpg")
                    .swiper-slide
                        img(src="./img/home/02.jpg")
                .swiper-buttons
                    button.swiper-button-prev
                        img(src="./img/home/arrow-slider.png")
                    button.swiper-button-next
                        img(src="./img/home/arrow-slider.png")
        .menu__another(data-menu-vacancy)
            a(href="#").menu__title Вакансии
            .menu__slider.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="./img/home/03.jpg")
                        p Инженер по сборке
                    .swiper-slide
                        img(src="./img/home/03.jpg")
                        p Инженер по разборке
                    .swiper-slide
                        img(src="./img/home/03.jpg")
                        p Инженер по переборке
                .swiper-buttons
                    button.swiper-button-prev
                        img(src="./img/home/arrow-slider.png")
                    button.swiper-button-next
                        img(src="./img/home/arrow-slider.png")
        .menu__another(data-menu-delivery)
            a(href="#").menu__title Доставка
            .menu__slider.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="./img/home/04.png")
                    .swiper-slide
                        img(src="./img/home/04.png")
                    .swiper-slide
                        img(src="./img/home/04.png")
                .swiper-buttons
                    button.swiper-button-prev
                        img(src="./img/home/arrow-slider.png")
                    button.swiper-button-next
                        img(src="./img/home/arrow-slider.png")